body {
  font-size: 16px;
  color: #ddd;
  background-color: #9381a4;
}
a {
  text-decoration: none;
  color: #ddd;
}
#header-nav {
  display: flex;
  background-color:#355E3B;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
@media (min-width:992px){
  #header-nav {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 22rem;
    height: 100vh;
  }
  #collapsable-nav {
    width: 100%;
  }
  #header-nav .navbar-brand {
    margin: auto auto;
  }
}
#header-nav button {
  border-width: 2px;
  border-color: #000;
}
.navbar-header {
  display: flex;
  margin: auto auto 0;
}
.navbar-brand {
  margin: 0;
}
.navbar-brand h1 {
  font-size: 2.0em;
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 2px #222;
  line-height: .80;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
  color: #fff;
}
#collapsable-nav {
  align-items: flex-start;
  margin-bottom: auto;
  flex-grow: 0;
}
#collapsable-nav .navbar-nav {
  font-size: 20px;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
#collapsable-nav .nav-item {
  padding: 5px;
  display: block;
  /* text-shadow: 2px 2px 2px #222; */
}
#collapsable-nav .nav-link {
  color: #ddd;
  display: block;
}
#header-nav .nav-item a:hover, .nav-item a:focus {
  text-decoration: none;
  color: #000;
  background-color: #eee;
  text-shadow: none;
}